*{
margin: 0;
padding: 0;
font-family: 'poppins', sans-serif;
box-sizing: border-box;
}

:root{
    background-image: url("https://raw.githubusercontent.com/theyogabook/theyogabook.com/main/3d-realistic-girl-practicing-yoga-nature-female-happiness-landscape-background-3d-rendering_56345-645.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    --nav-color: #1876F2;
    --bg-color: #fff;
    --text-color: #000;

}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
    --text-color: #fff;
}

body{
    background: var(--body-color);
    transition: background 0.3s;
    animation: color 15s infinite linear;
  
}
@keyframes color {
  100%   { background-image: url("https://raw.githubusercontent.com/theyogabook/theyogabook.com/main/i1.gif"); }
}

nav{
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left h1{
    color: red;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 2%;
}
.main content{
    position: sticky;
    top: 70px;
    align-self: flex-start;
}
.yourshortcuts{
color: #616161;
}
.imp-links a, .shortcut-links a{
text-decoration: none;
display: flex;
align-items: center;
margin-bottom: 15px;
color: #302f2f;
width: fit-content;
}
.imp-links a img{
    width: 20px;
margin-right: 10px;
}
.imp-links{
    border-bottom: 2px solid #ccc;
}
.shortcut-links a img{
    width: 20px;
    border-radius: 2px;
    margin-right: 10px;
}
.shortcuts-links p{
    color: #626262;
    font-weight: 400;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
font-weight: 600;
font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}

.user-profile span{
    font-size: 13px;
    color: #9a9a9a ;
}
.footer{
    color: #686464;
    padding: 10px 0 20px;
    font-size: 13px;
    
}
.settings-menu{
    position: absolute;
    width: 70%;
    max-width: 300px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    left: 10%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 200px;
}

.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 10px 0;
}
.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.settings-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.settings-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
background: #616161;
}

#container {
    height: 220px;
    width: 200px;
    border: 3px solid rgb(27, 1, 97);
    position: relative;
    border-radius: 3px;
    background-color: #d7dff6;
}
#label {
    position: absolute;
    top: 10px;
    left: 20px;
    text-align: center;
}
.button {
    border-radius: 4px;
    padding: 5px 5px;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    margin: 20px 20px;
  }
  .button1 {
    background-color: rgb(13, 136, 251); 
    color: rgb(41, 7, 128); 
    border: 2px solid #000208;
  }
  .button1:hover {
    background-color: white;
    color: #626262;
  }
.cu {
    color: #342b2b;
}
.au {
    padding: 7px 14px;
    margin-left: 30px;
    font-weight: bold;
}
/* ppgmf holding the image and the text */
.ppgmf {
    position: relative;
  }
.ppgmf img{
    height: 150px;
    width: 150px;
    margin: 10px 10px;
    opacity: 50%;
    object-fit: fill;
}
  
/* plastic text on image */
.plastic {
    position: absolute;
    top: 8%;
    left: 6%;
   font-weight: bolder;
   font-size: larger;
  }   
  /* paper text on image */
.paper {
    position: absolute;
    top: 29%;
    left: 8%;
   font-weight: bolder;
   font-size: larger;
  }
  /* glass text on image */
.glass {
    position: absolute;
    top: 49%;
    left: 8%;
   font-weight: bolder;
   font-size: larger;
  }
  /* metal text on image */
.metal {
    position: absolute;
    top: 69%;
    left: 8%;
   font-weight: bolder;
   font-size: larger;
  }
  /* food text on image */
.food {
    position: absolute;
    top: 89%;
    left: 8%;
   font-weight: bolder;
   font-size: larger;
  }
  .ppgmf {
    position: relative;
    width: 50%;
  }
  .plasticimage {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlayplastic {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    right: 0;
    height: 18%;
    width: 28%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(6, 242, 41);
    border-style: dotted;
    border-color: #000208;
  }
  .ppgmf:hover .overlayplastic {
    opacity: 1;
  }
  .tpl {
    color: rgb(5, 86, 5);
    font-size: 12px;
    position: absolute;
    top: 49%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  .ul {
  list-style-image: url('file:///C:/Users/user/Desktop/yogabook/theyogabook.com/list.png');
  height: 15px;
  width: 15px;
  }
  .overlaypaper {
    position: absolute;
    top: 190px;
    bottom: 0;
    left: 12px;
    right: 0;
    height: 18%;
    width: 28%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(6, 242, 41);
    border-style: dotted;
    border-color: #000208;
  }
  .ppgmf:hover .overlaypaper {
    opacity: 1;
  }
  .tpp {
    color: rgb(5, 86, 5);
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  .ul {
  list-style-image: url('file:///C:/Users/user/Desktop/yogabook/theyogabook.com/list.png');
  height: 15px;
  width: 15px;
  }
  
  .overlayglass {
    position: absolute;
    top: 355px;
    bottom: 0;
    left: 12px;
    right: 0;
    height: 18%;
    width: 28%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(6, 242, 41);
    border-style: dotted;
    border-color: #000208;
  }
  .ppgmf:hover .overlayglass {
    opacity: 1;
  }
  .tgl {
    color: rgb(5, 86, 5);
    font-size: 12px;
    position: absolute;
    top: 45%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  .ul {
  list-style-image: url('file:///C:/Users/user/Desktop/yogabook/theyogabook.com/list.png');
  height: 15px;
  width: 15px;
  }
  
  .overlaymetal {
    position: absolute;
    top: 525px;
    bottom: 0;
    left: 12px;
    right: 0;
    height: 18%;
    width: 28%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(6, 242, 41);
    border-style: dotted;
    border-color: #000208;
  }
  .ppgmf:hover .overlaymetal {
    opacity: 1;
  }
  .tmt {
    color: rgb(5, 86, 5);
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  .ul {
  list-style-image: url('file:///C:/Users/user/Desktop/yogabook/theyogabook.com/list.png');
  height: 15px;
  width: 15px;
  }
  .overlayfood {
    position: absolute;
    top: 700px;
    bottom: 700px;
    left: 12px;
    right: 0;
    height: 18%;
    width: 28%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgb(6, 242, 41);
    border-style: dotted;
    border-color: #000208;
  }
  .ppgmf:hover .overlayfood {
    opacity: 1;
  }
  .tfd {
    color: rgb(5, 86, 5);
    font-size: 12px;
    position: absolute;
    top: 45%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  .ul {
  list-style-image: url('file:///C:/Users/user/Desktop/yogabook/theyogabook.com/list.png');
  height: 15px;
  width: 15px;
  }
  #marquee {
    
    background-color: rgb(210, 166, 166);
  }
  .grey {
    color: #f7eb08;
    filter: drop-shadow(0 0.1em 0.4em rgb(221, 105, 105));
  }
  .cancel {
    color: rgb(79, 240, 240);
  }
.a1{
  font-size: xx-large;
  color: rgb(97, 8, 142);
  font-weight: 800;
}
.a2{
  font-size: medium;
  color: palevioletred;
  font-weight: 800;
}
.a3 {
  font-size: x-large;
  color: rgb(15, 116, 15);
  font-weight: 800;
}
.a4 {
  font-size: x-large;
  color: red;
  font-weight: 800;
  display: block;
  width: 150px;
  position: relative;
  margin: 5px auto;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  padding: 8px 0;
}
.popup {
  background-color: rgb(119, 205, 238);
  width: 320px;
  padding: 1px 1px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 32%;
  top: 55%;
  border-radius: 8px;
  border-width: thick;
  border-color: rgb(7, 232, 60);
  display: none;
  font-family: "Poppins",sans-serif;
  text-align: center;
}
.popup button {
  display: block;
  margin: 1px 280px 20px;
  background-color: transparent;
  font-size: 30px;
  color: #ffffff;
  background: #03549a;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
