*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    display: flex-start;
    align-items: center;
    justify-content: center;
    background: #eb7575;
  }
  