*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    background-image: url("https://raw.githubusercontent.com/theyogabook/theyogabook.com/main/gif%20back.gif");
  background-repeat: no-repeat;
  }
  .wrapper{
    user-select: none;
  }
  .wrapper .time{
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.09);
    padding: 0 10px;
  }
  .wrapper .time span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #333;
  }
  .time span.colon{
    width: 10px;
  }
  .time span.ms-colon,
  .time span.millisecond{
    color: #7D2Ae8;
  }
  .wrapper .buttons{
    text-align: center;
    margin-top: 20px;
  }
  .buttons button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #7D2Ae8;
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.09);
  }
  .buttons button.active,
  .buttons button.stopActive{
    pointer-events: none;
    opacity: 0.7;
  }

  .rotatingText {
    font-family: "Georgia", serif;
    font-size: 17px;
    text-align: left;
  }
  .rotatingText-adjective {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    left: 80px;
    margin-bottom: 0;
    margin-top: 238px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: left;
    text-transform: uppercase;
    top: 0;
  }
  
  .rotatingText-adjective:nth-of-type(1) {
    animation: rotate;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    color: crimson;
  }
  
  .rotatingText-adjective:nth-of-type(2) {
    animation: rotate;
    animation-duration: 1.5s;
    animation-delay: 1.75s;
    color: #f7eb08;
  }
  
  .rotatingText-adjective:nth-of-type(3) {
    animation: rotate;
    animation-duration: 1.5s;
    animation-delay: 3s;
  color: rgb(99, 197, 1);
  }
  .rotatingText-adjective:nth-of-type(4) {
    animation: rotate;
    animation-duration: 1.5s;
    animation-delay: 4s;
    color: fuchsia;
  }
  .rotatingText-adjective:nth-of-type(5) {
    animation: rotate;
    animation-duration: 1.5s;
    animation-delay: 5.25s;
    animation-fill-mode: forwards;
    color: rgb(76, 76, 244);
  
  }
  
  @keyframes rotate {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    
    20%, 80% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    
    100% {
      opacity: 0;
      transform: translate3d(0, -25px, 0);
    }
  }
  
  @keyframes rotate {
    0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
    }
    
    50%, 100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }